@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Everest Album Store</h1>
    <p class="lead">Everest Album Store the best album store in town</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Great Prices</h2>
        <p>
            Everest Album Store provides all the greatest albums at the best prices.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Best customer service</h2>
        <p>With out fabulous staffs you'll be treated with the best help to find your choice of album.</p>
    </div>
    <div class="col-md-4">
        <h2>Latest Albums</h2>
        <p>Everest Album Store has the latest albums from the greatest artists at your disposal.</p>
    </div>
</div>